<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Hey Geek! My
            name is</p>
        <div class="name">
            <p class="p-name">Rajdeep Kalita<span class="p-name2">.</span></p>
        </div>
        <div class="name">
            <p class="p-first">I am a Software Engineer from Guwahati, India who loves problem solving.</p>
            <p class="p-second">I'm currently building awesome stuff at <a
                    href="https://www.optum.com/">Optum</a>. You can
                find my <a href="https://drive.google.com/file/d/1nzNeQck7sGMJbvbUS42uaxv5DnSszk04/view?usp=sharing">resume here</a>.</p>
            <p class="p-third">I go by <a href="https://www.linkedin.com/in/rajdeep-kalita-a453971b4/" rel="nofollow">Rajdeep</a> on Linkedin.
                </p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>